@font-face {
  font-family: "nino-bold";
  src: url("../fonts/bpg_nino_mtavruli_bold.ttf");
  // font-weight: bold;
  // font-style: normal;
}
@font-face {
  font-family: "nino-norm";
  src: url("../fonts/bpg_nino_mtavruli_normal.otf");
  // font-weight: bold;
  // font-style: normal;
}
@font-face {
  font-family: "Helv-rom";
  src: url("../fonts/helvetica-neue-lt-geo-55-roman.ttf");
  // font-weight: bold;
  // font-style: normal;
}
