.resources {
  padding-top: 125px;
  padding-bottom: 125px;

  h2 {
    font-size: 30px;
  }
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 55px 100px;

    @include tab {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    @include tab {
      margin-bottom: 55px;
    }

    &:hover {
      .resources__text {
        opacity: 1;
      }
      .resources__img img{
        transform: scale(1.1);
      }
    }
  }
  &__img {
    display: block;
    width: 35%;
    overflow: hidden;

    @include tab {
      width: 49%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__text {
    width: 60%;
    opacity: 0.7;

    @include tab {
      width: 49%;
    }
    h3 {
      font-size: 24px;
      margin-bottom: 20px;

      @include tab {
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
    p {
      @include tab {
        font-size: 12px;
      }
    }
  }
  a.button {
    width: 80px;
    height: 80px;
    background-color: $yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s;
    margin-left: auto;
    margin-top: 45px;

    @include tab {
      width: fit-content;
      height: 50px;
      padding: 0 25px;
      margin: 45px auto 0 auto;
    }

    img {
      @include tab {
        display: none;
      }
    }

    span {
      font-family: "nino-bold";
      font-size: 24px;
      display: none;
      color: white;
      white-space: nowrap;

      @include tab {
        display: block;
        font-size: 16px;
      }
    }
  }
}
